<!DOCTYPE html>
<html ng-app="myApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TODOS</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>
    <script src="app.js"></script>
    <script src="myDirective.js"></script>
    <script src="myController.js"></script>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
        crossorigin="anonymous">

</head>

<body ng-controller="myCtrl">

    <div class="container">
        <div class="row m-5">
            <div class="col-md-12 text-center">
                <h2 class="text-muted font-weight-bold">Todos</h2>
                <input type="text" maxlength="60" ng-model="task" placeholder="Whats next?" class="p-1" ng-keydown="enterTask(task)">
            </div>
        </div>

        
        <div class="row">
            <div class="mx-auto" style="max-width: 50%">
                <div class="pr-5" style="display: inline;">
                    <span class="font-weight-bold">{{leftTasks}}</span> item(s) left
                </div>
                <input type="button" class="btn btn-primary" ng-click="kindOfSort = 'all'" value="All">
                <input type="button" class="btn btn-primary" ng-click="kindOfSort = 'active'" value="Active">
                <input type="button" class="btn btn-primary" ng-click="kindOfSort = 'completed'" value="Completed">
            </div>
        </div>
        <div class="row mt-5">
            <div class="mx-auto" style="max-width: 50%">
                <p ng-if="haveNoTask" class="font-weight-bold">You have no task todo.</p>
            </div>
        </div>

        <my-directive></my-directive>
    </div>
    
</body>

</html>